<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="ContextoParaBaseDatosEncriptado" connectionString="qFzRySnybQ83ukmaA+wvzJkHCS1k08BsK7KxXCVUT+AYdGXeIEu/DDvGmOfA5eqaIATpdNS+Ij1kFqlAibkCbMJ2J/YamJ0Qeu5JIMRx+ye5Y65J1eWcN8aD+EECZTezUK6fiDBYHbhqU04KG4S4sg==" providerName="System.Data.SqlClient" />
    <add name="ContextoParaBaseDatosLocal" connectionString="Data Source=.\INSTALLER;Initial Catalog=TicketBalanzaDB;Integrated Security=SSPI;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="CreateTicketBalanzaDBConnectionStringEncriptado" connectionString="qFzRySnybQ83ukmaA+wvzJkHCS1k08BsK7KxXCVUT+AYdGXeIEu/DBmbgUWp99UGGJKzLToBAeoanmFib06Jw5kWzQJxvlSmmlmNmuZt6ng=" providerName="System.Data.SqlClient" />
    <add name="CreateTicketBalanzaDBConnectionString" connectionString="Data Source=.\INSTALLER;Initial Catalog=master;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--Ejecucion-->
    <add key="Empresa" value="ALICORP" />
    <add key="syscolor" value="#FF0000" />
    <add key="TipoPapel" value="" />
    <!--<add key="Empresa" value="CANABRAVA"/>
    <add key="syscolor" value="#009D3E"/>-->
    <!--Sobre escribir BD-->
    <add key="SobreEscribirBD" value="false" />
    <!--ruta de script para creacion de BD-->
    <add key="rutaScriptSql" value="Script.sql" />
    <!--ContextoLocal: false = conexiones encriptadas ; true= conexiones sin encriptar-->
    <add key="TrabajarConContextoLocal" value="false" />
    <!--Procesar Tickets-->
    <add key="urlProcesarTickets" value="http://aixsrv03.gruporansa.gromero.net/integracion/alicorp/ticket-balanza/procesar" />
    <!--Anular Tickets-->
    <add key="urlAnularTickets" value="http://aixsrv03.gruporansa.gromero.net/integracion/alicorp/ticket-balanza/anular" />
    <!--<Parametros>-->
    <add key="RutaLogMain" value="\LOG\" />
    <add key="NameLog" value="LogTicketBalanza.txt" />
    <add key="RutaExcel" value="" />
    <add key="FlagTrazasServicioBrocker" value="S" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="IsFirstRun" value="0" />
    <add key="AnchoPaginaMilimetros" value="300" />
    <add key="AltoPaginaMilimetros" value="140" />
    <add key="AnchoPaginaMilimetrosA4" value="210" />
    <add key="AltoPaginaMilimetrosA4" value="297" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
